body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* Performance optimizations */
* {
    scrollbar-width: thin;
    scrollbar-color: #25dff8 #578bfc;
}

/* Prevent layout shifts */
img {
    max-width: 100%;
    height: auto;
}

/* Optimize card container for better LCP */
.card-cont {
    min-height: 200px; /* Prevent layout shift while loading */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px;
}

/* Optimize card dimensions to prevent layout shift */
.card {
    position: relative;
    width: 200px;
    height: 250px; /* Fixed height prevents layout shift */
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
}

/* Ensure consistent image sizing */
.card img {
    width: 100%;
    height: 150px; /* Fixed height for cover images */
    object-fit: cover;
    border-radius: 5px;
}

/* Optimize button positioning */
.play-button {
    position: absolute;
    top: 80px;
    right: 75px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.play-button img {
    height: 8vh;
    width: auto;
}

.bbb{
    border: 2px solid grey;
}

.bb{
    border: 2px solid rgb(0, 0, 0);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.left {
    width: 25vw;
    margin: 3px;
}

.right {
    width: 75vw;
    margin: 3px;

}

.home {
    background-color: #121212;
    margin: 5px;
    border-radius: 10px;
    height: 22vh;
    border: 1px solid #578bfc;
}

.logo img {
    height: 8vh;
    padding: 5px 15px;
    top: 0px;
}

.home ul li {
    padding: 5px 15px;
    list-style: none;
    display: flex;
}

.home-icon {
    height: 5vh;
    width: 4vw;
    cursor: pointer;
}

.search-icon {
    height: 5vh;
    width: 10vw;
    cursor: pointer;
}

.h3 {
    padding: 8px 0px;
}

.library {
    background-color: #121212;
    height: 75.5vh;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #578bfc;
}

.l-h {
    display: flex;
}

.library img {
    height: 80px;

}

.library h2 {
    padding: 25px 5px;
}

.nav {
    background-color: #1b1b1b;
    margin: 5px 0px 0px 0px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #578bfc;
}

.Go-1 {
    height: 70px;
    margin: 5px;
    cursor: pointer;
    display: none;

}

.Go-2 {
    height: 70px;
    margin: 5px;
    cursor: pointer;
    display: none;

}

div.sign-button {
    padding: 20px 20px 0px 0px;
}

.playlist {
    background-color: #121212;
    height: 85vh;
    border-radius: 10px;
    padding: 15px;
    max-height: 75vh;
    overflow-y: scroll;
    position: relative;
    border: 1px solid #578bfc;
}

.playlist .card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
}

.card {
    position: relative;
}

.card > * {
    padding-top: 5px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover .play-button {
    transition: all 1s;
    opacity: 1;
}

.chover:hover{
    background-color: rgb(65, 65, 65);
    border: 2px solid white;
    transition: all .5s;
}

.card-cont {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px;
}

.play-button {
    position: absolute;
    top: 80px;
    right: 75px;
    opacity: 0;
    transition: all .3s ease-out;
}

.play-button img {
    height: 8vh;

}

.sign-up {
    padding: 10px;
    font-weight: bold;
    font-size: small;
    border-radius: 30px;
    background-color: #25dff8;
    color: #0051ff;
    border: none;
    cursor: pointer;
}

.log-in {
    padding: 10px 15px;
    font-weight: bold;
    font-size: small;
    border-radius: 30px;
    background-color: #578bfc;
    color: #00e1ff;
    border: none;
    cursor: pointer;
}

.sign-up:hover {
    font-size: medium;
    filter: invert(1);
}

.log-in:hover {
    font-size: medium;
    filter: invert(1);
}

.playbar {
    position: fixed;
    display: flex;
    bottom: 13px;
    background: #578bfc;
    width: 68vw;
    max-height: 1.5vh;
    padding: 40px;
    border-radius: 50px;
    justify-content: space-between;
    gap: 100px;
    opacity: .8;
}

.playbar-btn-img {
    position: relative;
    height: 50px;
    bottom: 10px;
    right: 1.5px;
}

.playbar-btn-img:hover {
    filter: invert(1);
}

.playbar-btns {
    background: none;
    border: none;
    position: relative;
    bottom: 18px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.l-b {
    overflow-y: scroll;
    max-height: 60vh;
}

.l-b ul {
    padding: 15px;
}

.l-b ul li {
    list-style-type: decimal;
    margin: 10px 0px;
}

.l-b ul li a {
    color: white;
    text-decoration: none;
}

.naatcar {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.naatcar.playing ul li img {
    filter: invert(1);
}

.naatcar.last-played ul li img {
    filter: invert(1);
}

.naatcar ul li {
    list-style: none;
    display: flex;
    gap: 10px;
    border: 1px solid #0051ff;
    border-radius: 40px;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.naatcar ul li img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    flex-shrink: 0;
}

.naatcar ul li img:first-child {
    margin: 10px;
}


.nn {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.ncpb img {
    height: 40px;
}

.ncpb {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin: 10px;
}

.seekbar {
    position: absolute;
    bottom: 5px;
    background-color: #00e1ff;
    border-radius: 20px;
    height: 2px;
    width: 90%;
    padding: 3px;
    margin: 5px;

}

.circle {
    position: relative;
    bottom: 9px;
    left: 0%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #00e1ff;
    transition: left 1s linear;
}

.naatinfo {
    position: relative;
    bottom: 15px;
    height: 40px;
    width: 350px;
    background-color: #578bfc;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.naattime {
    position: relative;
    bottom: 15px;
    height: 30px;
    width: 200px;
    background-color: #578bfc;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

@media (max-width: 1500px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all 1s;
        z-index: 1;
        width: 375px;
        background-color: black;
    }

    .right {
        width: 100vw;
    }

    .Go-1 {
        display: block;
        position: absolute;
        left: 265px;
    }

    .Go-2 {
        display: block;
    }

    .playbar {
        gap: 50px;
        width: 90%;
    }

}

@media (max-width: 850px) {
    .playbar {
        height: 1vh;
        width: 75vw;
        display: flex;
        gap: 10px;
    }

    .playbar-btn-img {
        height: 25px;
        width: 25px;
    }

    .seekbar {
        width: inherit;
    }
}

@media (max-width: 400px) {
    .right{
        width: 90vw;
    }

    .playbar{
        width: 60vw;
        position: absolute;
    }

    .naatinfo{
        bottom: 145px;
        left: -40px;
        color: white;
        background:none;
    }

    .naattime{
        bottom: 110px;
        right:  0px;
        background: none;
        color: white;

    }

    .left{
        width: 360px;
    }

    .left ul{
        padding: 10px;
    }

    .card-count{
        justify-content: center;
        margin: 5px;
    }

}

.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.alert-content {
    background-color: #121212;
    border: 2px solid #578bfc;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#alert-message {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

#alert-ok {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #25dff8;
    color: #0051ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#alert-ok:hover {
    background-color: #00e1ff;
}
